{% extends 'base.html' %}
{% load static %}
{% block title %}Admin Log In{% endblock %}
{% block content %}
<div class="container">
    <div class="row mt-2">
        <div class="col">
            <h3>Create an account</h3>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-sm-12 col-md">
            <form action="/logIn" method="POST" novalidate>
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">First Name</label>
                    <input type="text" name="first_name" id="userForm_first_name" class="form-control" placeholder="" aria-describedby="helpId">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="userForm_password" class="form-control" placeholder="" aria-describedby="helpId">
                </div>
            </form>
        </div>
        <div class="col">
            <img src="{% static 'img/formImage.jpg' %}" alt="">
        </div>
    </div>
</div>




{% endblock %}